.header {
    width: 100%;
    background-color: rgb(242, 212, 157);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .header>a:hover {
    text-decoration: underline;
  }
  
  .active {
    text-decoration: underline;
  }
  